// Dropzone

.dropzone {
  min-height: 300px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  flex: 1;
  text-align: center;
  &.active {
    background: rgba($colorBlue, .8);
    border: 11px dashed $colorBlue;
  }
  .inner {
    //z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity, 1s;
    cursor: pointer;
    &:hover {
      opacity: 0.2;
    }
    img {
      width: 100px;
      height: 100px;
    }
    .txt {
      color: $background;
      font-size: 2rem;
    }
    .comment {
      color: lighten($background, 30%);
    }
  }
}
